body{
  background-color: lightgray;
}
.app{
  text-align: center;
  max-width: 500px;
  margin:100px auto;
}

.list-container{
  margin-top:40px;
}
.list-item{
  display:flex;
  align-items: center;
  background-color: black;
  padding:0px 20px;
  margin-top:15px;
  cursor:move;
  color: lightgrey;
}
.list-item i{
  margin-right:20px;
  font-size: 30px;
}
h3{
  font-size: 30px;
}